x64/*
HorasTrabajadas/x64/*
HorasTrabajadas/x64/Debug/*
servers/
vendor/curl/
bin/
bin-int/
.vs/*
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.tlog
*.ilk
*.log
*.lastbuildstate
*.idb
*.pdb
*.ipdb
*.obj
*.iobj
*.sql
*.exe
*.exe*
*.suo
*.VC.db
*.vsidx
*.ipch
*.lib
*.lib.recipe
*.h*
!*.h
*.dll
*.sln