x64/*
HorasTrabajadas/x64/*
HorasTrabajadas/x64/Debug/*
.vs/*
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.tlog
*.ilk
*.log
*.lastbuildstate
*.idb
*.pdb
*.obj
*.sql
*.exe
*.exe.recipe
*.suo
*.VC.db
*.vsidx
*.ipch
*.lib
*.dll
*.sln